@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1:focus {
    outline: none;
}
a, .btn-link {
    color: #0071c1;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.content {
    padding-top: 1.1rem;
}
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}
.invalid {
    outline: 1px solid red;
}
.validation-message {
    color: red;
}
.mainarea {
    display: flex;
    justify-content: center;
}
.colorpicker {
    border-radius: 0px;
    background-color: snow;
    outline: 2px solid;
    outline-color: black;
    width: 550px;
    height: 400px;
    min-width: 550px;
    min-height: 400px;
    transition: .5s;
    margin-top: 35px;
}
.toolheader {
    display: flex;
    justify-content: space-between;
}
.maintext-large {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    margin-top: 17px;
    margin-left: 17px;
    margin-right: 17px;
}
.colorpickerinput {
    max-width: 80px;
    max-height: 320px;
    margin: 12px;
    transition: .5s;
}
.colorpreview {
    min-width: 125px;
    min-height: 25px;
    border-radius: 7px;
    margin: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--mud-palette-text-primary);
    transition: .5s;
}
.colorpreviewsmall {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border: 1px solid;
    border-color: var(--mud-palette-text-primary);
}
.colorPreviewSmallAll {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border: 1px solid;
    border-color: rgba(0,10,0,0.50);
}
.recentcolors {
    justify-content: start;
    display: flex;
    flex-direction: row;
    margin: 2px;
    flex-wrap: wrap;
    width: 200px;
    height: 125px;
    background-color: #ffffff;
}
.palettearea {
    width: 750px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 65px;
}
.palettecolor {
    width: 150px;
    height: 250px;
    transition: .5s;
    display: flex;
    padding-top: 200px;
    justify-content: center;
}
    .palettecolor:hover {
        margin-top: 15px;
    }
.paletteinfoarea {
    width: 750px;
    height: 50px;
    transition: 1s;
    display: flex;
    justify-content: start;
    margin-left: 35px;
}
.paletteinfo {
    width: 150px;
    height: 50px;
    transition: 1s;
}
.palettetext {
    margin: 15px;
    font-size: 17px;
    transition: .5s;
    font-family: 'Rubik', sans-serif;
}
.paletteselectbutton {
    width: 100px;
    height: 100px;
    transition: .5s;
    padding-top: 25px;
    justify-content: center;
    display: flex;
    background-color: red;
    opacity: 0.0;
}
.paletteSelect {
    width: 550px;
    height: 100px;
    margin-bottom: 0px;
    background-color: white;
    transition: .5s;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    position: relative;
    padding-left: 5px;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;

}
    .paletteSelect:hover {
        width: 550px;
        margin-left: 15px;
    }
.paletteselectinfo {
    width: 150px;
    height: 100px;
    transition: .5s;
}
.paletteselectinput {
    width: 400px;
    height: 100px;
    transition: .5s;
    justify-content: end;
    display: flex;
}
.favoritedColors {
    width: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
#inputArea {

}
.closeButton {
    background-color: none;
    height: 50px;
    width: 50px;
    z-index: 10;
}
.textFavorites {
    font-size: 27px;
    margin: 15px;
    color: black;
    font-family: 'Rubik', sans-serif;
}
.selectmask {
    visibility: hidden;
}
.button-updatecolor {
    border: solid 1px;
    border-radius: 5px;
    border-color: black;
    padding: 3px;
    margin-left: 115px;
}