@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: .7s;
    --mud-palette-primary-darken: #2F3433;
    --mud-palette-primary-lighten: #6F7473;
    --mud-palette-primary: #3f4645;
}
h1:focus {
    outline: none;
}
a, .btn-link {
    color: #0071c1;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.content {
    padding-top: 1.1rem;
}
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}
.invalid {
    outline: 1px solid red;
}
.validation-message {
    color: red;
}
.mainarea {
    display: flex;
    justify-content: center;
}
.colorpicker {
    border-radius: 0px;
    background-color: white;
    outline: 2px solid;
    outline-color: black;
    width: 550px;
    height: 400px;
    min-width: 550px;
    min-height: 400px;
    transition: .3s;
    margin-top: 35px;
    position: relative;
    right: 0%;
}
.toolheader {
    display: flex;
    justify-content: space-between;
}
.maintext-large {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    margin-top: 17px;
    margin-left: 17px;
    margin-right: 17px;
}
.colorpickerinput {
    max-width: 80px;
    max-height: 320px;
    margin: 12px;
    transition: .5s;
}
.colorpreview {
    min-width: 125px;
    min-height: 25px;
    border-radius: 7px;
    margin: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--mud-palette-text-primary);
    transition: .5s;
}
.colorpreviewsmall {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border: 1px solid;
    border-color: var(--mud-palette-text-primary);
}
.colorPreviewSmallAll {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border: 1px solid;
    border-color: rgba(0,10,0,0.50);
}
.recentcolors {
    justify-content: start;
    display: flex;
    flex-direction: row;
    margin: 2px;
    flex-wrap: wrap;
    width: 200px;
    height: 125px;
    background-color: #ffffff;
}
.palettearea {
    width: 750px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: -17px;
    margin-bottom: 65px;
}
.palettecolor {
    width: 150px;
    height: 250px;
    transition: .5s;
    display: flex;
    padding-top: 200px;
    justify-content: center;
}
    .palettecolor:hover {
        margin-top: 15px;
    }
.palettecolor-primary {
    width: 600px;
    height: 250px;
    transition: .5s;
    display: flex;
    padding-top: 200px;
    justify-content: start;
}
    .palettecolor-primary:hover {
        margin-top: 15px;
    }
.palettecolor-comp {
    width: 150px;
    height: 250px;
    transition: .5s;
    display: flex;
    padding-top: 200px;
    justify-content: start;
}
    .palettecolor-comp:hover {
        margin-top: 15px;
    }
.paletteinfoarea {
    width: 750px;
    height: 50px;
    transition: 1s;
    display: flex;
    justify-content: start;
    margin-left: 35px;
}
.paletteinfo {
    width: 100px;
    height: 50px;
    transition: 1s;
}
.palettebuttons {
    width: 50px;
    height: 50px;
    transition: 1s;
}
.palettetext {
    margin: 15px;
    font-size: 17px;
    transition: .5s;
    font-family: 'Rubik', sans-serif;
}
.paletteselectbutton {
    width: 100px;
    height: 100px;
    transition: .5s;
    padding-top: 25px;
    justify-content: space-around;
    display: flex;
    background-color: red;
    opacity: 0.0;
}
.paletteSelect {
    width: 550px;
    height: 100px;
    margin-bottom: 0px;
    background-color: white;
    transition: .5s;
    display: flex;
    justify-content: start;
    z-index: 3;
    position: relative;
    padding-left: 10px;
    padding-top: 6px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}
    .paletteSelect:hover {
        width: 550px;
        margin-left: 15px;
    }
.paletteSelectSmall {
    transition: .5s;
    min-width: 40px;
    height: 40px;
    margin: 5px;
}
    .paletteSelectSmall:hover {
        min-width: 50px;
        height: 50px;
        margin: 0px;
        -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    }
.paletteselectinfo {
    width: 150px;
    height: 100px;
    transition: .5s;
}
.paletteselectinput {
    width: 400px;
    height: 100px;
    transition: .5s;
    justify-content: end;
    display: flex;
}
.favoritedColors {
    width: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.favoritedColorsMask {
    width: 550px;
    height: 80px;
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: transparent;
}
.favoritedColorsObj {
    width: 100%;
    height: 2px;
    margin-top: 15px;
    background-color: #000000;
}
.favoritedColorsControls {
    width: 120px;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
}
.favoritedColorsSmall {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row-reverse;
    margin-top: -100px;
    visibility: visible;
}
.favorites-area {

}
.fullview {
    width: 750px;
    height: 0;
    display: flex;
    justify-content: end;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 18px;
    transition: .5s;
}
#inputArea {
}
.closeButton {
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 55px;
    transition: .3s;
}
    .closeButton:hover {
        height: 55px;
    }
.expandButton {
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    transition: .3s;
}
    .expandButton:hover {
        height: 55px;
    }
.copyButton {
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 110px;
    transition: .3s;
}
    .copyButton:hover {
        height: 55px;
    }
.pickButton {
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 165px;
    transition: .3s;
}
    .pickButton:hover {
        height: 55px;
    }
.copyButtonPalette {
    background-color: transparent;
    height: 50px;
    min-width: 50px;
    z-index: 10;
    transition: .3s;
    position: relative;
    bottom: 0px;
    right: 0px;
}
    .copyButtonPalette:hover {
        bottom: -5px;
    }
.favButtonPalette {
    background-color: transparent;
    height: 50px;
    min-width: 50px;
    z-index: 10;
    transition: .3s;
    position: relative;
    bottom: 250px;
    right: 0px;
}
    .favButtonPalette:hover {
        bottom: 245px;
    }
.closePreviewButton {
    display: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    transition: .3s;
}
    .closePreviewButton:hover {
        height: 55px;
    }
.downloadPreviewButton {
    display: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 60px;
    transition: .3s;
}
    .downloadPreviewButton:hover {
        height: 55px;
    }
.favButtonClose {
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    transition: .3s;
    margin-left: 5px;
}
    .favButtonClose:hover {
        height: 55px;
    }
.favButtonSave {
    background-color: transparent;
    height: 50px;
    width: 50px;
    z-index: 10;
    transition: .3s;
}
    .favButtonSave:hover {
        height: 55px;
    }
.textFavorites {
    font-size: 27px;
    margin: 15px;
    margin-top: 15px;
    color: black;
    font-family: 'Rubik', sans-serif;
    transition: .5s;
}
.textHex {
    font-size: 37px;
    margin: 15px;
    margin-top: 15px;
    color: transparent;
    font-family: 'Rubik', sans-serif;
    transition: .5s;
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 5;
}
.selectmask {
    visibility: hidden;
}
.selectmaskSmall {
    visibility: hidden;
}
.button-updatecolor {
    border: solid 2px;
    border-radius: 5px;
    border-color: black;
    padding: 3px;
    margin-left: 87px;
    height: 25px;
    width: 115px;
    transition: .5s;
}
.button-updatecolor:hover {
    border: solid 4px;
    border-radius: 5px;
    border-color: black;
    padding: 3px;
    margin-left: 87px;
    height: 25px;
    width: 115px;
}
.toggleFavView {
    height: 20px;
    width: 60px;
    background-color: aquamarine;
}
.toggleFavView-active {
    height: 20px;
    width: 60px;
    background-color: red;
}
.alertContainer {
    background-color: black;
    height: 40px;
    position: fixed;
    bottom: 15px;
    left: -600%;
    transition: .5s;
    border-radius: 15px;
    z-index: 15;
}
.alertText {
    font-size: 20px;
    margin: 15px;
    margin-top: 6px;
    color: white;
    font-family: 'Rubik', sans-serif;
    transition: .5s;
    z-index: 5;
}